@use 'copic' as *;

$orange:           #f99157;
$light-green:      #c3e88d;
$light-violet:     #BB80B3;
$violet:           #945EB8;
$yellow-orange:    #FFB62C;
$yellow:           #fef200;
$green:            #91B859;
$light-blue:       #a7bbe0;
$blue:             #6182B8;
$light-red:        #f2777a;
$red:              #E53935;


$white:            #ffffff;
$off-white:        #f7f7f7;
$off-black:        #1d1f21;
$black:            #030708;

$cool-grey-00:     #e0e7ed;
$cool-grey-0:      #e0e7ed;
$cool-grey-1:      #dae3e8;
$cool-grey-2:      #ccd7dd;
$cool-grey-3:      #c1ccd2;
$cool-grey-4:      #92a0ab;
$cool-grey-5:      #92a0ab;
$cool-grey-6:      #637079;
$cool-grey-7:      #637079;
$cool-grey-8:      #535d66;
$cool-grey-9:      #3c474d;
$cool-grey-10:     #202b31;

$toner-grey-00:      #eceeed;
$toner-grey-0:      #eceeed;
$toner-grey-1:      #eaeae8;
$toner-grey-2:      #e0e0de;
$toner-grey-3:      #d1d2cc;
$toner-grey-4:      #bcbbb9;
$toner-grey-5:      #a8a7a3;
$toner-grey-6:      #949590;
$toner-grey-7:      #777674;
$toner-grey-8:      #63645f;
$toner-grey-9:      #4c4b49;
$toner-grey-10:     #322e2d;

$nuetral-grey-00:      #eceeed;
$nuetral-grey-0:      #eceeed;
$nuetral-grey-1:      #e2e3e5;
$nuetral-grey-2:      #dadbdd;
$nuetral-grey-3:      #d1d2d4;
$nuetral-grey-4:      #bcbdc1;
$nuetral-grey-5:      #a8a9ad;
$nuetral-grey-6:      #949599;
$nuetral-grey-7:      #77787c;
$nuetral-grey-8:      #636466;
$nuetral-grey-9:      #4c4d4f;
$nuetral-grey-10:     #312f30;

$warm-grey-00:     #f3f3eb;
$warm-grey-0:      #ecece4;
$warm-grey-1:      #e7e7df;
$warm-grey-2:      #ddddd5;
$warm-grey-3:      #d2d2ca;
$warm-grey-4:      #bcbdb7;
$warm-grey-5:      #a8a9a4;
$warm-grey-6:      #94958f;
$warm-grey-7:      #777873;
$warm-grey-8:      #63645f;
$warm-grey-9:      #4c4d48;
$warm-grey-10:     #302f2b;
