/*
 ***********
IMPORTS
***********
*/

@use 'colors';

/*
***********
BOX SIZING
***********
*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
***********
TOP-LEVEL
***********
*/

html {
    height: 100%;
}


body,
html {

    min-height: 100%;
}

body {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin-bottom: 0 !important;
}

hr {
    width: 100%;
    min-width: 100%;
    border: 0;
    border-bottom: 1px solid colors.$warm-grey-2;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

br {
    width: 100%;
    min-width:100%;
    margin:0;
    margin-bottom: 1rem;
}

/*
***********
UTILITY CLASSES / HACKS
***********
*/

.center {
    margin: 0 auto;
    justify-self: center;
}

.hidden {
    display: none !important;
}

.justify-center {
    justify-content: center !important;
}

.vertical-center {
    align-items: center;
}

.full-width {
    width: 100%;
    min-width: 100%;
}

.full {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

.grow {
    flex-grow: 1;
}


.full-height {
    height: 100%;
    min-height: 100%;
}


/* 
***********
MARGIN / PADDING
***********
*/

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.pad-top {
    padding-top: 0.5rem;
}

.pad-bottom {
    padding-bottom: 0.5rem;
}

.pad-left {
    padding-left: 0.5rem;
}

.pad-right {
    padding-right: 0.5rem;
}

.pad-bottom-lg {
    padding-bottom: 1rem;    
}

.pad-top-lg {
    padding-top: 1rem;    
}

.pad-left-lg {
    padding-left: 1rem;    
}

.pad-right-lg {
    padding-right: 1rem;    
}
/* 
***********
BORDERS / RULES
***********
*/

.upperline {
    border-top: 1px solid colors.$warm-grey-2;
}

.underline {
    border-bottom: 1px solid colors.$warm-grey-2;
}

.thin-border {
    border: 1px solid colors.$warm-grey-2;
}

@mixin thin-border {
    border: 1px solid colors.$warm-grey-2;
}


/* 
***********
CONTAINERS 
***********
*/

[class^='container-'] {
    margin-bottom: 0.5rem;
}

.container-xs {
    max-width: 20rem;
}

.container-sm {
    max-width: 30rem;
}

.container-med {
    max-width: 40rem;
}

.container-lg {
    max-width: 50rem;
}

.container-xl {
    max-width: 65rem;
}


/* 
***********
FLEXBOX GRIDS
***********
*/

/* General-use for flex grid */

.flex-center {
    justify-self: center;
    align-self: center;
}


.grid-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    margin-bottom: 1rem;
    
}

.tile img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    flex-shrink: 0;
    height: auto;
}

.tile-centered {
    align-self: center;
    justify-self: center;
    text-align: center;
}


.tile-text-centered {
    align-self: center;
    justify-self: center;
    text-align: center;
}


.tile-label {
    margin-bottom: 1rem;
}


.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.grow {
    flex-grow: 1;
}

/* grid-4 */
/* grid with 4 tile width*/

.grid-4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

.grid-4>.tile {
    display: flex;
    width: calc(25% - 0.75rem);
    flex-direction: column;
    margin-right: 1rem;
}

.grid-4>.tile:nth-of-type(4n) {
    margin-right: 0;
}

/* grid-4-to-2 */
/* grid with 4 tile width, responds down to 2 tile width*/

.grid-4-to-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

.grid-4-to-2>.tile {
    display: flex;
    width: calc(25% - 0.75rem);
    flex-direction: column;
    margin-right: 1rem;
}

.grid-4-to-2>.tile:nth-of-type(4n) {
    margin-right: 0;
}

@media screen and (max-width: 600px) {
    .grid-4-to-2>.tile {
        display: flex;
        width: calc(50% - 0.5rem);
        flex-direction: column;
    }

    .grid-4-to-2>.tile:nth-of-type(4n) {
        margin-right: 1rem;
    }

    .grid-4-to-2>.tile:nth-of-type(2n) {
        margin-right: 0;
    }
}

/* grid-4-to-3 */
/* grid with 4 tile width, responds down to 3 tile width*/

.grid-4-to-3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

.grid-4-to-3>.tile {
    display: flex;
    width: calc(25% - 0.75rem);
    flex-direction: column;
    margin-right: 1rem;
}

.grid-4-to-3>.tile:nth-of-type(4n) {
    margin-right: 0;
}

@media screen and (max-width: 600px) {
    .grid-4-to-3>.tile {
        display: flex;
        width: calc(33% - 0.66rem);
        flex-direction: column;
        margin-right: 1.05rem;
    }

    .grid-4-to-3>.tile:nth-of-type(4n) {
        margin-right: 1rem;
    }

    .grid-4-to-3>.tile:nth-of-type(3n) {
        margin-right: 0;
    }


}

/* grid-3-to-1 */
/* grid with 3 tile width, responds down to 1 tile width*/

.grid-3-to-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

.grid-3-to-1 .tile {
    display: flex;
    width: calc(33% - 0.66rem);
    flex-direction: column;
    margin-right: 1.1rem;
}

.grid-3-to-1 .tile:nth-of-type(3n) {
    margin-right: 0;
}

@media screen and (max-width: 600px) {
    .grid-3-to-1 .tile {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-right: 0;
    }
}

/* grid-2-to-1 */
/* grid with 2 tile width, responds down to 1 tile width*/

.grid-2-to-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

.grid-2-to-1>.tile {
    display: flex;
    width: calc(50% - 0.5rem);
    flex-direction: column;
    margin-right: 1rem;
}

.grid-2-to-1>.tile:nth-of-type(2n) {
    margin-right: 0;
}

@media screen and (max-width: 600px) {
    .grid-2-to-1>.tile {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-right: 0;
    }
}

/* grid-75-25-to-1 */
/* grid with 2 tile width split 75%/25%;, responds down to 1 tile width*/

.grid-75-25-to-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

.grid-75-25-to-1>.tile {
    display: flex;
    width: calc(75% - 0.5rem);
    flex-direction: column;
    margin-right: 1rem;
}

.grid-75-25-to-1>.tile:nth-of-type(2n) {
    width: calc(25% - 0.5rem);
    margin-right: 0;
}

.grid-75-25-to-1>.tile:nth-of-type(2n) {
    margin-right: 0;
}

@media screen and (max-width: 600px) {
    .grid-75-25-to-1>.tile {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-right: 0;
    }

    .grid-75-25-to-1>.tile:nth-of-type(2n) {
        width: 100%;
        margin-right: 0;
    }
}

/* grid with 3 tile width */

.grid-3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

.grid-3 .tile {
    display: flex;
    width: calc(33% - 0.66rem);
    flex-direction: column;
    margin-right: 1.1rem;
}

.grid-3 .tile:nth-of-type(3n) {
    margin-right: 0;
}


/* grid-2 */
/* grid with 2 tile width*/

.grid-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

.grid-2>.tile {
    display: flex;
    width: calc(50% - 0.5rem);
    flex-direction: column;
    margin-right: 1rem;
}

.grid-2>.tile:nth-of-type(2n) {
    margin-right: 0;
}



/*
***********
BANNER / NAVBAR
***********
*/

.header {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.banner {
    display: flex;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-items: flex-end;
}

.banner-gap {
    flex-grow: 1;
}

.navbar {
    display: flex;
    align-content: center;
    height: 100%;
}

.navbar-item {
    font-weight: 300;
    height: 100%;
    flex-grow: 1;
    padding: 0.5rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
}

.navbar-link {
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
}

.navbar-link:hover {}

.navbar-item+.navbar-item {
    margin-left: 1.5rem;
}

.banner-title {}

.menu {
    display: none;
}

.menu-button {
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 5rem;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.35s ease;
    background-color: colors.$off-white;
    max-height: 0;
}

.dropdown-item {
    height: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    display: block;
    text-align: center;
    
}

.dropdown-link {
    width: 100%;
    display: block;
    text-align: center;
}

.dropdown-item:hover {

    background-color: colors.$warm-grey-1;
}

@media screen and (max-width: 720px) {
    .menu {
        display: flex;
    }

    .header {}

    .navbar {
        display: none;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}

.js-hidden {
    display: none;
}

/*

***********
FOOTER
***********
*/

.footer {
    margin-top: 1rem;
    height: 1.7rem;
    display: flex;
    align-items: center;
}

/* 
***********
BUTTONS
***********
*/

.button {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: colors.$warm-grey-0;
    align-items: center;
    border-radius: 5px;
    transition: all 0.2s;
    border: 0;
    padding: 10px;
}

.button:hover {
    background-color: colors.$warm-grey-2;
    cursor: pointer;
    background-image: linear-gradient(transparent,
            rgba(0, 0, 0, 0.05) 40%,
            rgba(0, 0, 0, 0.1));
}

.button-disabled {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    background-color: colors.$off-white;
    color: colors.$off-black;
    border-radius: 5px;
    transition: all 0.2s;
    border: 0;
}

.button i,
.button-disabled i {
    margin-right: 10px;
}

.button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
}


/* 
 ***********
FORMS
***********
*/

.form-input {
    height: 2rem;
    padding: 5px;
    border-radius: 0;
    @include thin-border;
}

.form-button {
    
}


.form-aligned {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-aligned .form-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: stretch;
}


.form-group {
    height: 2rem;
}

.form-group + .form-group {
    margin-top: 0.5rem;
}

.form-aligned label {
    width: 35%;
}

.form-aligned input {
    flex-grow: 1;
}


@media screen and (max-width: 600px) {
   
}

/* 
 ***********
IMAGE EFFECTS
***********
*/

.blend-color {
    mix-blend-mode: color;
}

.blend-luminosity {
    mix-blend-mode: luminosity;
}



/* 
***********
BACKGROUND COLORS
***********
*/

.bg-warm-grey-00-hover:hover {
  background-color: colors.$warm-grey-00;
}
.bg-warm-grey-0-hover:hover {
    background-color: colors.$warm-grey-0;
}
.bg-warm-grey-1-hover:hover {
    background-color: colors.$warm-grey-1;
}
.bg-warm-grey-2-hover:hover {
    background-color: colors.$warm-grey-2;
}
.bg-warm-grey-3-hover:hover {
    background-color: colors.$warm-grey-3;
}
.bg-warm-grey-4-hover:hover {
    background-color: colors.$warm-grey-4;
}
.bg-warm-grey-5-hover:hover {
    background-color: colors.$warm-grey-5;
}
.bg-warm-grey-6-hover:hover {
    background-color: colors.$warm-grey-6;
}
.bg-warm-grey-7-hover:hover {
    background-color: colors.$warm-grey-7;
}
.bg-warm-grey-8-hover:hover {
    background-color: colors.$warm-grey-8;
}
.bg-warm-grey-9-hover:hover {
    background-color: colors.$warm-grey-9;
}
.bg-warm-grey-10-hover:hover {
    background-color: colors.$warm-grey-10;
}
.bg-cool-grey-00-hover:hover {
    background-color: colors.$cool-grey-00;
}
.bg-cool-grey-0-hover:hover {
    background-color: colors.$cool-grey-0;
}
.bg-cool-grey-1-hover:hover {
    background-color: colors.$cool-grey-1;
}
.bg-cool-grey-2-hover:hover {
    background-color: colors.$cool-grey-2;
}
.bg-cool-grey-3-hover:hover {
    background-color: colors.$cool-grey-3;
}
.bg-cool-grey-4-hover:hover {
    background-color: colors.$cool-grey-4;
}
.bg-cool-grey-5-hover:hover {
    background-color: colors.$cool-grey-5;
}
.bg-cool-grey-6-hover:hover {
    background-color: colors.$cool-grey-6;
}
.bg-cool-grey-7-hover:hover {
    background-color: colors.$cool-grey-7;
}
.bg-cool-grey-8-hover:hover {
    background-color: colors.$cool-grey-8;
}
.bg-cool-grey-9-hover:hover {
    background-color: colors.$cool-grey-9;
}
.bg-cool-grey-10-hover:hover {
    background-color: colors.$cool-grey-10;
}
.bg-nuetral-grey-00-hover:hover {
    background-color: colors.$nuetral-grey-00;
}
.bg-nuetral-grey-0-hover:hover {
    background-color: colors.$nuetral-grey-0;
}
.bg-nuetral-grey-1-hover:hover {
    background-color: colors.$nuetral-grey-1;
}
.bg-nuetral-grey-2-hover:hover {
    background-color: colors.$nuetral-grey-2;
}
.bg-nuetral-grey-3-hover:hover {
    background-color: colors.$nuetral-grey-3;
}
.bg-nuetral-grey-4-hover:hover {
    background-color: colors.$nuetral-grey-4;
}
.bg-nuetral-grey-5-hover:hover {
    background-color: colors.$nuetral-grey-5;
}
.bg-nuetral-grey-6-hover:hover {
    background-color: colors.$nuetral-grey-6;
}
.bg-nuetral-grey-7-hover:hover {
    background-color: colors.$nuetral-grey-7;
}
.bg-nuetral-grey-8-hover:hover {
    background-color: colors.$nuetral-grey-8;
}
.bg-nuetral-grey-9-hover:hover {
    background-color: colors.$nuetral-grey-9;
}
.bg-nuetral-grey-10-hover:hover {
    background-color: colors.$nuetral-grey-10;
}
.bg-toner-grey-00-hover:hover {
    background-color: colors.$toner-grey-00;
}
.bg-toner-grey-0-hover:hover {
    background-color: colors.$toner-grey-0;
}
.bg-toner-grey-1-hover:hover {
    background-color: colors.$toner-grey-1;
}
.bg-toner-grey-2-hover:hover {
    background-color: colors.$toner-grey-2;
}
.bg-toner-grey-3-hover:hover {
    background-color: colors.$toner-grey-3;
}
.bg-toner-grey-4-hover:hover {
    background-color: colors.$toner-grey-4;
}
.bg-toner-grey-5-hover:hover {
    background-color: colors.$toner-grey-5;
}
.bg-toner-grey-6-hover:hover {
    background-color: colors.$toner-grey-6;
}
.bg-toner-grey-7-hover:hover {
    background-color: colors.$toner-grey-7;
}
.bg-toner-grey-8-hover:hover {
    background-color: colors.$toner-grey-8;
}
.bg-toner-grey-9-hover:hover {
    background-color: colors.$toner-grey-9;
}
.bg-toner-grey-10-hover:hover {
    background-color: colors.$toner-grey-10;
}

.bg-light-grey {
    background-color: colors.$warm-grey-3;
}

.bg-hover-light-grey:hover {
    background-color: colors.$warm-grey-3;
}

.bg-medium-grey {
    background-color: colors.$warm-grey-5;
}

.bg-hover-medium-grey:hover {
    background-color: colors.$warm-grey-5;
}

.bg-dark-grey {
    background-color: colors.$warm-grey-10;
}

.bg-hover-dark-grey:hover {
    background-color: colors.$warm-grey-10;
}

.bg-off-black {
    background-color: colors.$off-black;
}

.bg-hover-off-black:hover {
    background-color: colors.$off-black;
}

.bg-orange {
    background-color: colors.$orange;
}

.bg-hover-orange:hover {
    background-color: colors.$orange;
}

.bg-light-green {
    background-color: colors.$light-green;
}

.bg-hover-light-green:hover {
    background-color: colors.$light-green;
}

.bg-light-violet {
    background-color: colors.$light-violet;
}

.bg-hover-light-violet:hover {
    background-color: colors.$light-violet;
}

.bg-violet {
    background-color: colors.$violet;
}

.bg-hover-violet:hover {
    background-color: colors.$violet;
}

.bg-yellow-orange {
    background-color: colors.$yellow-orange;
}

.bg-hover-yellow-orange:hover {
    background-color: colors.$yellow-orange;
}

.bg-yellow {
    background-color: colors.$yellow;
}

.bg-hover-yellow:hover {
    background-color: colors.$yellow;
}

.bg-green {
    background-color: colors.$green;
}

.bg-hover-green:hover {
    background-color: colors.$green;
}

.bg-light-blue {
    background-color: colors.$light-blue;
}

.bg-hover-light-blue:hover {
    background-color: colors.$light-blue;
}

.bg-blue {
    background-color: colors.$blue;
}

.bg-hover-blue:hover {
    background-color: colors.$blue;
}

.bg-light-red {
    background-color: colors.$light-red;
}

.bg-hover-light-red:hover {
    background-color: colors.$light-red;
}

.bg-red {
    background-color: colors.$red;
}

.bg-hover-red:hover {
    background-color: colors.$red;
}
