/*
 ***********
IMPORTS
***********
*/

@use 'colors';

/* 
***********
FONT SIZING
***********
*/

$xs: 0.5rem;
$sm: 0.8rem;
$med: 1rem;
$lg: 1.3rem;
$xl: 1.5rem;
$xxl: 2rem;

.xs {
    font-size: $xs;
}

.sm {
    font-size: $sm;
}

.med {
    font-size: $med;
}

.lg {
    font-size: $lg;
}

.xl {
    font-size: $xl;
}

.xxl {
    font-size: $xxl;
}

/* 
***********
FONT WEIGHTS
***********
*/

$hairline: 100;
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$heavy: 900;


.hairline {
    font-weight: $hairline;
}

.thin {
    font-weight: $thin;
}

.light {
    font-weight: $light;
}

.regular {
    font-weight: $regular;
}

.medium {
    font-weight: $medium;
}

.semi-bold {
    font-weight: $semi-bold;
}

.bold {
    font-weight: $bold;
}

.extra-bold {
    font-weight: $extra-bold;
}

.heavy {
    font-weight: $heavy;
}

/* 
***********
FONT FAMILIES
***********
*/

$sans: "Open Sans";
$serif: "Crimson Pro";
$handwritten: "Ma Shan Zheng", cursive;

.sans {
    font-family: $sans;
}

.serif {
    font-family: $serif;
}

.handwritten {
    font-family: $handwritten;
}

/* 
 ***********
FONT STYLES
***********
*/

.italic {
    font-style: italic;
}

/*
 ***********
TOP-LEVEL
***********
*/

body {
    line-height: 1.375em;
    font-family: $sans;
    font-weight: $light;
    color: colors.$off-black;
    font-kerning: normal;
}

a {
    text-decoration: none;
    color: colors.$off-black;
}

h1 {
    font: $light $xxl $serif;
    color: colors.$warm-grey-9;
}

h2 {
    font: $light $xl $serif;
    color: colors.$warm-grey-9;
}

h3 {
    font: $bold $med $sans;
    color: colors.$off-black;
}

h4 {
    font: $bold $lg $serif;
    color: colors.$off-black;
}

h5 {
    font: $bold $lg $sans;
    color: colors.$off-black;
}

p {
    text-indent: 3rem;
}


/* 
***********
GROUPED STYLES
***********
*/

.heading-1 {
    font: $light $xl $serif;
    color: colors.$warm-grey-9;
}

.heading-2 {
    font: $light $xxl $serif;
    color: colors.$warm-grey-9;
}

.heading-3 {
    font: $bold $med $sans;
    color: colors.$off-black;
}

.heading-4 {
    font: $bold $lg $serif;
    color: colors.$off-black;
}

.heading-5 {
    font: $bold $lg $sans;
    color: colors.$off-black;
}

.link-1 {
    font-weight: $medium;
    color: colors.$blue;
}

.link-1:hover {
    color: colors.$light-blue;    
}

.link-2 {
    font-weight: $regular;
    color: colors.$blue;
}

.link-2:hover {
    color: colors.$light-blue;    
}

.link-3 {
    color: colors.$off-black;
}

.link-3:hover {
    color: colors.$warm-grey-5;
}

.decorative-label {
    font-family: $serif;
    color: colors.$warm-grey-6;
    font-style: italic;
}

.large-label {
    font-weight: $regular;
    font-size: $lg;
    font-family: $sans;
}

.medium-label {
    font: $semi-bold $lg $sans;
    color: colors.$warm-grey-6;
}

.drop-cap::first-letter {
    font-size: 2rem;
    font-weight: 600;
}

/*
***********
FONT COLORS
***********
*/


.warm-grey-00 {
    color: colors.$warm-grey-00;
}

.warm-grey-0 {
    color: colors.$warm-grey-0;
}

.warm-grey-1 {
    color: colors.$warm-grey-1;
}

.warm-grey-2 {
    color: colors.$warm-grey-2;
}

.warm-grey-3 {
    color: colors.$warm-grey-3;
}

.warm-grey-4 {
    color: colors.$warm-grey-4;
}

.warm-grey-5 {
    color: colors.$warm-grey-5;
}

.warm-grey-6 {
    color: colors.$warm-grey-6;
}

.warm-grey-7 {
    color: colors.$warm-grey-7;
}

.warm-grey-8 {
    color: colors.$warm-grey-8;
}

.warm-grey-9 {
    color: colors.$warm-grey-9;
}

.warm-grey-10 {
    color: colors.$warm-grey-10;
}

.cool-grey-00 {
    color: colors.$cool-grey-00;
}

.cool-grey-0 {
    color: colors.$cool-grey-0;
}

.cool-grey-1 {
    color: colors.$cool-grey-1;
}

.cool-grey-2 {
    color: colors.$cool-grey-2;
}

.cool-grey-3 {
    color: colors.$cool-grey-3;
}

.cool-grey-4 {
    color: colors.$cool-grey-4;
}

.cool-grey-5 {
    color: colors.$cool-grey-5;
}

.cool-grey-6 {
    color: colors.$cool-grey-6;
}

.cool-grey-7 {
    color: colors.$cool-grey-7;
}

.cool-grey-8 {
    color: colors.$cool-grey-8;
}

.cool-grey-9 {
    color: colors.$cool-grey-9;
}

.cool-grey-10 {
    color: colors.$cool-grey-10;
}

.nuetral-grey-00 {
    color: colors.$nuetral-grey-00;
}

.nuetral-grey-0 {
    color: colors.$nuetral-grey-0;
}

.nuetral-grey-1 {
    color: colors.$nuetral-grey-1;
}

.nuetral-grey-2 {
    color: colors.$nuetral-grey-2;
}

.nuetral-grey-3 {
    color: colors.$nuetral-grey-3;
}

.nuetral-grey-4 {
    color: colors.$nuetral-grey-4;
}

.nuetral-grey-5 {
    color: colors.$nuetral-grey-5;
}

.nuetral-grey-6 {
    color: colors.$nuetral-grey-6;
}

.nuetral-grey-7 {
    color: colors.$nuetral-grey-7;
}

.nuetral-grey-8 {
    color: colors.$nuetral-grey-8;
}

.nuetral-grey-9 {
    color: colors.$nuetral-grey-9;
}

.nuetral-grey-10 {
    color: colors.$nuetral-grey-10;
}

.toner-grey-00 {
    color: colors.$toner-grey-00;
}

.toner-grey-0 {
    color: colors.$toner-grey-0;
}

.toner-grey-1 {
    color: colors.$toner-grey-1;
}

.toner-grey-2 {
    color: colors.$toner-grey-2;
}

.toner-grey-3 {
    color: colors.$toner-grey-3;
}

.toner-grey-4 {
    color: colors.$toner-grey-4;
}

.toner-grey-5 {
    color: colors.$toner-grey-5;
}

.toner-grey-6 {
    color: colors.$toner-grey-6;
}

.toner-grey-7 {
    color: colors.$toner-grey-7;
}

.toner-grey-8 {
    color: colors.$toner-grey-8;
}

.toner-grey-9 {
    color: colors.$toner-grey-9;
}

.toner-grey-10 {
    color: colors.$toner-grey-10;
}

.warm-grey-00-hover:hover {
    color: colors.$warm-grey-00;
}

.warm-grey-0-hover:hover {
    color: colors.$warm-grey-0;
}

.warm-grey-1-hover:hover {
    color: colors.$warm-grey-1;
}

.warm-grey-2-hover:hover {
    color: colors.$warm-grey-2;
}

.warm-grey-3-hover:hover {
    color: colors.$warm-grey-3;
}

.warm-grey-4-hover:hover {
    color: colors.$warm-grey-4;
}

.warm-grey-5-hover:hover {
    color: colors.$warm-grey-5;
}

.warm-grey-6-hover:hover {
    color: colors.$warm-grey-6;
}

.warm-grey-7-hover:hover {
    color: colors.$warm-grey-7;
}

.warm-grey-8-hover:hover {
    color: colors.$warm-grey-8;
}

.warm-grey-9-hover:hover {
    color: colors.$warm-grey-9;
}

.warm-grey-10-hover:hover {
    color: colors.$warm-grey-10;
}

.cool-grey-00-hover:hover {
    color: colors.$cool-grey-00;
}

.cool-grey-0-hover:hover {
    color: colors.$cool-grey-0;
}

.cool-grey-1-hover:hover {
    color: colors.$cool-grey-1;
}

.cool-grey-2-hover:hover {
    color: colors.$cool-grey-2;
}

.cool-grey-3-hover:hover {
    color: colors.$cool-grey-3;
}

.cool-grey-4-hover:hover {
    color: colors.$cool-grey-4;
}

.cool-grey-5-hover:hover {
    color: colors.$cool-grey-5;
}

.cool-grey-6-hover:hover {
    color: colors.$cool-grey-6;
}

.cool-grey-7-hover:hover {
    color: colors.$cool-grey-7;
}

.cool-grey-8-hover:hover {
    color: colors.$cool-grey-8;
}

.cool-grey-9-hover:hover {
    color: colors.$cool-grey-9;
}

.cool-grey-10-hover:hover {
    color: colors.$cool-grey-10;
}

.nuetral-grey-00-hover:hover {
    color: colors.$nuetral-grey-00;
}

.nuetral-grey-0-hover:hover {
    color: colors.$nuetral-grey-0;
}

.nuetral-grey-1-hover:hover {
    color: colors.$nuetral-grey-1;
}

.nuetral-grey-2-hover:hover {
    color: colors.$nuetral-grey-2;
}

.nuetral-grey-3-hover:hover {
    color: colors.$nuetral-grey-3;
}

.nuetral-grey-4-hover:hover {
    color: colors.$nuetral-grey-4;
}

.nuetral-grey-5-hover:hover {
    color: colors.$nuetral-grey-5;
}

.nuetral-grey-6-hover:hover {
    color: colors.$nuetral-grey-6;
}

.nuetral-grey-7-hover:hover {
    color: colors.$nuetral-grey-7;
}

.nuetral-grey-8-hover:hover {
    color: colors.$nuetral-grey-8;
}

.nuetral-grey-9-hover:hover {
    color: colors.$nuetral-grey-9;
}

.nuetral-grey-10-hover:hover {
    color: colors.$nuetral-grey-10;
}

.toner-grey-00-hover:hover {
    color: colors.$toner-grey-00;
}

.toner-grey-0-hover:hover {
    color: colors.$toner-grey-0;
}

.toner-grey-1-hover:hover {
    color: colors.$toner-grey-1;
}

.toner-grey-2-hover:hover {
    color: colors.$toner-grey-2;
}

.toner-grey-3-hover:hover {
    color: colors.$toner-grey-3;
}

.toner-grey-4-hover:hover {
    color: colors.$toner-grey-4;
}

.toner-grey-5-hover:hover {
    color: colors.$toner-grey-5;
}

.toner-grey-6-hover:hover {
    color: colors.$toner-grey-6;
}

.toner-grey-7-hover:hover {
    color: colors.$toner-grey-7;
}

.toner-grey-8-hover:hover {
    color: colors.$toner-grey-8;
}

.toner-grey-9-hover:hover {
    color: colors.$toner-grey-9;
}

.toner-grey-10-hover:hover {
    color: colors.$toner-grey-10;
}

.white {
    color: colors.$white;
}

.light-grey {
    color: colors.$warm-grey-3;
}

.hover-light-grey:hover {
    color: colors.$warm-grey-3;
}

.medium-grey {
    color: colors.$warm-grey-5;
}

.hover-medium-grey:hover {
    color: colors.$warm-grey-5;
}

.dark-grey {
    color: colors.$warm-grey-10
}

.hover-dark-grey:hover {
    color: colors.$warm-grey-10;
}

.off-black {
    color: colors.$off-black;
}

.hover-off-black:hover {
    color: colors.$off-black;
}

.orange {
    color: colors.$orange;
}

.hover-orange:hover {
    color: colors.$orange;
}

.light-green {
    color: colors.$light-green;
}

.hover-light-green:hover {
    color: colors.$light-green;
}

.light-violet {
    color: colors.$light-violet;
}

.hover-light-violet:hover {
    color: colors.$light-violet;
}

.violet {
    color: colors.$violet;
}

.hover-violet:hover {
    color: colors.$violet;
}

.yellow-orange {
    color: colors.$yellow-orange;
}

.hover-yellow-orange:hover {
    color: colors.$yellow-orange;
}

.yellow {
    color: colors.$yellow;
}

.hover-yellow:hover {
    color: colors.$yellow;
}

.green {
    color: colors.$green;
}

.hover-green:hover {
    color: colors.$green;
}

.light-blue {
    color: colors.$light-blue;
}

.hover-light-blue:hover {
    color: colors.$light-blue;
}

.blue {
    color: colors.$blue;
}

.hover-blue:hover {
    color: colors.$blue;
}

.light-red {
    color: colors.$light-red;
}


.red {
    color: colors.$red;
}


.hover-light-red:hover {
    color: colors.$light-red;
}

.hover-red:hover {
    color: colors.$red;
}
