<!DOCTYPE html>
<html lang="en">

<head>
    <!-- TITLE -->
    <title>Rocky J. Reed</title>

    <!-- META -->
    <meta name="description" content="The art of Rocky J. Reed." />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Pro|Open+Sans:300,400,600,700" rel="stylesheet" />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/assets/stylesheets/layout.css" />
    <link rel="stylesheet" href="/assets/stylesheets/typography.css" />

    <!-- SCRIPTS -->
    <script src="/assets/scripts/utils.js" defer></script>
    <script src="/assets/scripts/menuslider.js" defer></script>
    <script src="/assets/scripts/index.js" defer></script>

</head>

<body class="container-xl center column">

    <!-- HEADER -->
    <header class="header js-header underline">

        <!-- banner/navbar -->
        <section class="banner">
            <!-- site title -->
            <div class="banner-item banner-title">
                <a class="banner-title heading-1" href="/">Rocky J. Reed</a>
            </div>

            <!-- gap between site title and navbar -->
            <div class="banner-item banner-gap"></div>

            <!-- navbar menu -->
            <div class="banner-item navbar">
                <a class="navbar-item link-3" href="/gallery/index.html">Gallery</a>
                <a class="navbar-item link-3" href="https://store.rockyjreed.com/products">Store</a>
                <a class="navbar-item link-3" href="/blog/index.html">Blog</a>
                <a class="navbar-item link-3" href="/contact/index.html">About & Contact</a>
            </div>

            <!-- menu button/dropdown toggle -->
            <div class="header-item menu js-dropdown-toggle js-dropdown-container">
                <div class="menu-button js-dropdown-toggle link-3">MENU</div>
            </div>
        </section>

        <!-- navbar dropdown menu, displays at breakpoint width/click -->
        <section class="dropdown js-dropdown js-dropdown-container">
            <a class="dropdown-item" href="/gallery/index.html">Gallery</a>
            <a class="dropdown-item" href="https://store.rockyjreed.com/products">Store</a>
            <a class="dropdown-item" href="/blog/index.html">Blog</a>
            <a class="dropdown-item" href="/contact/index.html">About & Contact</a>
            <a class="dropdown-item js-dropdown-toggle bold" href="#">X</a>
        </section>
    </header>

    <!-- CONTENT -->
    <section class="content grow grid-centered">


        <h1>
            Layout & Typography
        </h1>

        <section class="container-med">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum
                dolor sit amet consectetur adipiscing elit ut. Egestas sed tempus urna
                et pharetra pharetra massa massa. Ut sem nulla pharetra diam sit amet
                nisl suscipit. Id velit ut tortor pretium viverra. Lacus suspendisse
                faucibus interdum posuere lorem ipsum dolor sit amet. Vitae auctor eu
                augue ut lectus arcu bibendum. Quisque sagittis purus sit amet
                volutpat consequat mauris. Aenean pharetra magna ac placerat
                vestibulum lectus mauris ultrices. Senectus et netus et malesuada
                fames ac turpis. In hac habitasse platea dictumst vestibulum rhoncus.
            </p>
            <p>
                Dolor sit amet consectetur adipiscing elit ut aliquam. Dictum fusce ut
                placerat orci. Eget gravida cum sociis natoque. Et netus et malesuada
                fames. Proin libero nunc consequat interdum varius sit amet mattis
                vulputate. Ac turpis egestas sed tempus urna et pharetra pharetra.
                Feugiat pretium nibh ipsum consequat nisl vel pretium lectus quam.
                Volutpat diam ut venenatis tellus in metus vulputate eu. Nunc faucibus
                a pellentesque sit amet porttitor eget dolor morbi. Dolor sit amet
                consectetur adipiscing elit duis tristique sollicitudin nibh. Eget mi
                proin sed libero enim sed. Commodo ullamcorper a lacus vestibulum sed
                arcu non odio euismod. Cras adipiscing enim eu turpis egestas pretium
                aenean pharetra magna.
            </p>
        </section>

        <section class="container-lg">
            <div class="grid-centered">
                <h2>
                    Table of Contents
                </h2>
            </div>

            <div class="grid-4-to-2">
                <div class="tile">
                    <a class="hover-light-green" href="#section-1">
                        <img src="https://placekitten.com/300/250" />
                        <div class="tile-label bold">
                            1. Mimsy Borogoves
                        </div>
                        <div class="tile-text off-black">
                            Celery quandong swiss chard chicory earthnut pea potato. Salsify
                            taro catsear garlic gram celery bitterleaf wattle seed collard
                            greens nori. Grape wattle seed kombu beetroot horseradish carrot
                            squash brussels sprout chard.
                        </div>
                    </a>
                </div>
                <div class="tile">
                    <a class="hover-light-green" href="#section-2">
                        <img src="https://placekitten.com/300/250" />
                        <div class="tile-label bold">
                            2. Mome Raths
                        </div>
                        <div class="tile-text off-black">
                            Celery quandong swiss chard chicory earthnut pea potato.
                        </div>
                    </a>
                </div>
                <div class="tile">
                    <a class="hover-light-green" href="#section-3">
                        <img src="https://placekitten.com/300/250" />
                        <div class="tile-label bold">
                            3. Brilling and Toves
                        </div>
                        <div class="tile-text off-black">
                            Celery quandong swiss chard chicory earthnut pea potato. Salsify
                            taro catsear garlic gram celery bitterleaf wattle seed collard
                            greens nori.
                        </div>
                    </a>
                </div>
                <div class="tile">
                    <a class="hover-light-green" href="#section-4">
                        <img src="https://placekitten.com/300/250" />
                        <div class="tile-label bold">
                            4. Tum Tum Trees
                        </div>
                        <div class="tile-text off-black">
                            Celery quandong swiss chard chicory earthnut pea potato. Salsify
                            taro catsear garlic gram celery bitterleaf wattle seed collard
                            greens nori. Grape wattle seed kombu beetroot horseradish carrot
                            squash brussels sprout chard.
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section id="section-1" class="container-med">
            <div class="grid-centered">
                <h2>
                    1. Mimsy Borogoves
                </h2>
            </div>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada
                fames ac turpis egestas integer eget. Amet aliquam id diam maecenas
                ultricies mi eget. Vel quam elementum pulvinar etiam non quam lacus
                suspendisse faucibus. Id aliquet lectus proin nibh nisl condimentum
                id. Vitae et leo duis ut diam quam. Libero volutpat sed cras ornare
                arcu dui vivamus arcu. Sed faucibus turpis in eu. Tristique magna sit
                amet purus gravida. Congue eu consequat ac felis donec. Donec enim
                diam vulputate ut pharetra sit amet aliquam id. Diam ut venenatis
                tellus in metus. Vel turpis nunc eget lorem. Ut tortor pretium viverra
                suspendisse. Urna condimentum mattis pellentesque id nibh tortor id
                aliquet. Tristique magna sit amet purus gravida quis blandit turpis
                cursus.
            </p>
        </section>

        <section class="container-lg">
            <div class="grid-2-to-1">
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/350/250" />
                    <div class="tile-text-centered">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </div>
                </div>
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/350/250" />
                    <div class="tile-text-centered">
                        Lorem ipsum dolor
                    </div>
                </div>
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/350/250" />
                    <div class="tile-text-centered">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </div>
                </div>
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/350/250" />
                    <div class="tile-text-centered">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </div>
                </div>
            </div>
        </section>

        <section id="section-2" class="container-med">
            <div class="grid-centered">
                <h2 class="serif dark-grey">
                    2. Mome Raths
                </h2>
            </div>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada
                fames ac turpis egestas integer eget. Amet aliquam id diam maecenas
                ultricies mi eget.
            </p>
        </section>

        <section class="container-lg">
            <div class="grid-4-to-2">
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/200/150" />

                    <div class="tile-text">
                        Celery quandong swiss chard chicory earthnut pea potato.
                    </div>
                </div>
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/200/150" />

                    <div class="tile-text">
                        Celery quandong swiss chard chicory earthnut pea potato.
                    </div>
                </div>
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/200/150" />

                    <div class="tile-text">
                        Taro catsear garlic gram celery bitterleaf wattle seed collard
                        greens nori.
                    </div>
                </div>
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/200/150" />

                    <div class="tile-text">
                        Celery quandong swiss chard chicory earthnut pea potato.
                    </div>
                </div>
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/200/150" />

                    <div class="tile-text">
                        Celery quandong swiss chard chicory earthnut pea potato.
                    </div>
                </div>
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/200/150" />

                    <div class="tile-text">
                        Celery quandong swiss chard chicory earthnut pea potato.
                    </div>
                </div>
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/200/150" />

                    <div class="tile-text">
                        Taro catsear garlic gram celery bitterleaf wattle seed collard
                        greens nori.
                    </div>
                </div>
            </div>
        </section>
        <section class="container-med">
            <p>
                <span class="bold dark-grey">Note: </span>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Malesuada fames ac turpis egestas
                integer eget. Amet aliquam id diam maecenas ultricies mi eget.
            </p>
        </section>

        <section id="section-3" class="container-lg">
            <div class="grid-centered">
                <h2 class="serif dark-grey">
                    3. Brillig and Toves
                </h2>
            </div>
            <div class="grid-2-to-1">
                <div class="tile">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Malesuada fames ac turpis egestas integer eget. Amet aliquam id diam
                    maecenas ultricies mi eget. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Malesuada fames ac turpis egestas integer eget.
                    Amet aliquam id diam maecenas ultricies mi eget.Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Malesuada fames ac
                    turpis egestas integer eget. Amet aliquam id diam maecenas ultricies
                    mi eget.
                </div>
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/350/350" />

                    <div class="tile-text">
                        Taro catsear garlic gram celery bitterleaf wattle seed collard
                        greens nori.
                    </div>
                </div>
            </div>
        </section>
        <section class="container-lg">
            <div class="grid-3-to-1">
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/350/250" />
                    <div class="tile-text-centered">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/350/250" />
                    <div class="tile-text-centered">
                        Lorem ipsum dolor.
                    </div>
                </div>
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/350/250" />
                    <div class="tile-text-centered">
                        Lorem ipsum.
                    </div>
                </div>

            </div>
        </section>

        <section id="section-4" class="container-lg">
            <div class="grid-centered">
                <h2 class="serif dark-grey">
                    4. Tum Tum Trees
                </h2>
            </div>
            <div class="grid-2-to-1">
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/350/350" />
                    <div class="grid-2">
                        <div class="tile">
                            <img class="js-lightbox-img" src="https://placekitten.com/350/350" />
                        </div>
                        <div class="tile">
                            <img class="js-lightbox-img" src="https://placekitten.com/350/350" />
                        </div>
                    </div>
                    <div class="semi-bold dark-grey">
                        Variation 1
                    </div>
                    <div>
                        Amet aliquam id diam maecenas ultricies mi eget.
                    </div>
                </div>
                <div class="tile">
                    <img class="js-lightbox-img" src="https://placekitten.com/350/350" />
                    <div class="grid-2">
                        <div class="tile">
                            <img class="js-lightbox-img" src="https://placekitten.com/350/350" />
                        </div>
                        <div class="tile">
                            <img class="js-lightbox-img" src="https://placekitten.com/350/350" />
                        </div>
                    </div>
                    <div class="semi-bold dark-grey">
                        Variation 2
                    </div>
                    <div>
                        Taro catsear garlic gram celery bitterleaf wattle seed collard
                        greens nori.
                    </div>
                </div>
            </div>
        </section>

        <section class="container-med">
            <p>
                <span class="bold dark-grey">Note: </span>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Malesuada fames ac turpis egestas
                integer eget. Amet aliquam id diam maecenas ultricies mi eget.
            </p>
        </section>
        <hr/>

        <section class="container-sm">
            <form class="form form-aligned">
          
                    <div class="form-group">
                        <label for="name">Username</label>
                        <input type="text" id="name" placeholder="Username" />

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" placeholder="Email Address" />
                    </div>
                    <div class="form-group">
                        <label for="foo">Supercalifragilistic Label</label>
                        <input type="text" id="foo" placeholder="Enter something here..." />
                    </div>
                    <div class="form-group">
                        <label for="cb" class="checkbox">
                            <input type="checkbox" id="cb" /> I&#x27;ve read the terms and conditions</label>
                            <button type="submit" class="button button-primary">Submit</button>
                    </div>
                
            </form>
        </section>
    </section>

    <!-- FOOTER -->
    <section class="footer sm dark grey vertical-center upperline">
        © Owner 2020
    </section>
</body>

</html>
