/*
***********
BOX SIZING
***********
*/

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
***********
TOP-LEVEL
***********
*/

body,
html {
  height: 100%;
  min-height: 100%;
}

body {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

/*
***********
UTILITY CLASSES
***********
*/

.center {
  margin: 0 auto;
  justify-self: center;
}

.hidden {
  display: none;
}

.justify-center {
  justify-content: center !important;
}

.full {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

/* 
***********
CONTAINERS 
***********
*/

[class^="container-"] {
  margin-bottom: 0.5rem;
}

.container-xs {
  max-width: 20rem;
}

.container-sm {
  max-width: 30rem;
}

.container-med {
  max-width: 40rem;
}

.container-lg {
  max-width: 50rem;
}

.container-xl {
  max-width: 65rem;
}

/* 
***********
FLEXBOX GRIDS
***********
*/


/* General-use for flex grid */

.grid-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile {
  margin-bottom: 1rem;
}

.tile img {
  max-width: 100%;
  display: block;
  margin-bottom: 1rem;
  flex-shrink: 0;
  height: auto;
}

.tile-text-centered {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.tile-label {
  margin-bottom: 1rem;
}

/* grid-4-to-3 */
/* grid with 4 tile width, responds down to 3 tile width*/

.grid-4-to-3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

.grid-4-to-3 .tile {
  display: flex;
  width: calc(25% - 0.75rem);
  flex-direction: column;
  margin-right: 1rem;
}


.grid-4-to-3 .tile:nth-of-type(4n) {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .grid-4-to-3 .tile {
    display: flex;
    width: calc(33% - 0.66rem);
    flex-direction: column;
  }

  .grid-4-to-2 .tile:nth-of-type(4n) {
    margin-right: 1rem;
  }

  .grid-4-to-2 .tile:nth-of-type(3n) {
    margin-right: 0;
  }
}


/* grid-4-to-2 */
/* grid with 4 tile width, responds down to 2 tile width*/

.grid-4-to-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

.grid-4-to-2 .tile {
  display: flex;
  width: calc(25% - 0.75rem);
  flex-direction: column;
  margin-right: 1rem;
}


.grid-4-to-2 .tile:nth-of-type(4n) {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .grid-4-to-2 .tile {
    display: flex;
    width: calc(50% - 0.5rem);
    flex-direction: column;
  }

  .grid-4-to-2 .tile:nth-of-type(4n) {
    margin-right: 1rem;
  }

  .grid-4-to-2 .tile:nth-of-type(2n) {
    margin-right: 0;
  }
}


/* grid-3-to-1 */
/* grid with 3 tile width, responds down to 1 tile width*/

.grid-3-to-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

.grid-3-to-1 .tile {
  display: flex;
  width: calc(33% - 0.66rem);
  flex-direction: column;
  margin-right: 1rem;
}

.grid-3-to-1 .tile:nth-of-type(3n) {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .grid-3-to-1 .tile {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-right: 0;
  }
}



/* grid-2-to-1 */
/* grid with 2 tile width, responds down to 1 tile width*/

.grid-2-to-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

.grid-2-to-1 .tile {
  display: flex;
  width: calc(50% - 0.5rem);
  flex-direction: column;
  margin-right: 1rem;
}

.grid-2-to-1 .tile:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .grid-2-to-1 .tile {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-right: 0;
  }
}

/* grid-2 */
/* grid with 2 tile width*/

.grid-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

.grid-2 .tile {
  display: flex;
  width: calc(50% - 0.5rem);
  flex-direction: column;
  margin-right: 1rem;
}

.grid-2 .tile:nth-of-type(2n) {
  margin-right: 0;
}

/* 
***********
LIGHTBOX 
***********
*/


.lightbox {
  visibility: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.85);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  z-index: 999;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lightbox-display-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
   padding-left: 15px;
  padding-right: 15px;
}

.lightbox-display {
  max-width: 100% !important;
  height: auto;
  display: block;
  
}

.lightbox-close {
  color: #ffffff;
  align-self: flex-end;
  margin-bottom: .25rem;
}

.lightbox-close:hover {
  cursor: pointer;
}


