/* BOX SIZING */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* TAGS */
body,
html {
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
a {
  text-decoration: none;
}
hr {
  border: 0;
  border-top: 1px solid #e3e4e4;
  display: block;
  height: 1px;
}
/* CONTAINER GRID */
.container {
  height: 100%;
  max-width: 65em;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: 5em 1fr 3em;
  grid-gap: 1em;
  position: relative;
}

.content {
  grid-area: content;
  width: 100%;
  align-self: start;
}
.footer {
  grid-area: footer;
  display: grid;
  border-top: 1px solid #e3e4e4;
  height: 3rem;
  align-items: center;
  font-size: 0.8rem;
}
/* NAVBAR SUBGRID */

.navbar_title {
}

label:hover,
label:active,
input:hover + label,
input:active + label {
  cursor: pointer;
}

.header {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
}
.banner {
  display: flex;
  height: 5rem;
  width: 100%;
  align-items: center;
  justify-items: flex-end;
  border-bottom: 1px solid #DADADA;
}



.banner-gap {
  flex-grow: 1;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-item {
  font-weight: 300;
  height: 100%;
  flex-grow: 1;
  padding: 0.5rem;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
}

.navbar-link {
  display: block;
  height: 100%;
}

.navbar-item:hover {
  text-shadow: 0.2px 0px 0px #999999;
  color: #999999;
}

.navbar-item + .navbar-item {
  margin-left: 1.5rem;
}


.menu {
  display: none;
}

.menu-button {
  cursor: pointer;
}


.dropdown {
  position: absolute;
  top: 5rem;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.35s ease;
  background-color: #f7f7f7;
  max-height: 0;
}


.dropdown-item {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 100%;
  display: block;
  text-align: center;
}

.dropdown-link {
  width: 100%;
  display: block;
  text-align: center;
}

.dropdown-item:hover {
  background-color: #DADADA;
}


.js-dropdown-toggle {
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .menu {
    display: flex;
  }
  .header {
  }
  .navbar {
    display: none;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}

/* GALLERY SUBGRID */
.gallery {
  display: flex;
  max-height: 100%;
  flex-wrap: wrap;
  align-items: stretch;
}
.gallery_item {
  width: calc(25% - 0.75rem);
  display: flex;
  max-height: 100%;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.gallery_item:nth-of-type(4n) {
  margin-right: 0;
}

.gallery_item:hover {
  cursor: pointer;
}
.gallery_item_figure {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  max-height: 100%;
  align-self: center;
}
.gallery_item:hover .gallery_item_figure {
  box-shadow: 0px 2px 4px 0px hsla(0, 0%, 0%, 0.2);
}
.gallery_item_caption {
  margin-top: 0.5rem;
  justify-self: center;
  text-align: center;
}
@media screen and (max-width: 720px) {
  .gallery_item {
    width: calc(33% - 0.666rem);
  }
  .gallery_item:nth-of-type(4n) {
    margin-right: 1rem;
  }
  .gallery_item:nth-of-type(3n) {
    margin-right: 0;
  }
}
/* DETAIL SUBGRID */
.detail {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.detail_item {
}
.detail_caption {
  margin-right: 3rem;
}
.detail_item {
  width: 100%;
  transition: all 0.35s;
}
.detail_additional {
  margin-top: 1.5rem;
  max-height: 7em;
  max-width: 100%;
}
.detail_additional_figure {
  padding-right: 1rem;
  max-height: 100%;
  max-width: 5rem;
}

.detail_caption_title {
  padding-bottom: 1rem;
}

@media screen and (max-width: 720px) {
  .detail {
    flex-direction: column;
  }

  .detail_caption {
    margin-right: 0;
  }
}
/* SPLASH SUBGRID */
.splash {
  display: grid;
}
.splash_img {
  width: 100%;
}
/* CONTACT SUBGRID */
.contact_form {
  width: 20rem;
  margin: 0 auto;
}
.contact_form_input {
  border: none;
  border: 1px solid #e3e4e4;
  display: block;
  margin-bottom: 1rem;
  width: 20rem;
  padding: 10px;
}
.contact_social_line {
}
.contact_social_line_text {
  display: inline-block;
  line-height: 1.5rem;
  vertical-align: top;
  padding-left: 0.5rem;
}
.contact_social_line:hover {
}
.contact_social_icon {
  height: 1.5rem;
  line-height: 1.5rem;
  vertical-align: middle;
}
.input_message {
  height: 25rem;
}
.input_submit {
  display: block;
  margin: 0 auto;
  width: 100px;
  padding: 0;
  text-align: center;
  line-height: 30px;
  background-color: whitesmoke;
  border-radius: 5px;
  transition: all 0.2s;
  border: 0;
}
.input_submit:hover {
  background-color: #C0C0C0;
  cursor: pointer;
}

/* LIGHTBOX */

.lightbox {
  visibility: hidden;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.85);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  z-index: 999;
}

.lightbox_form {
  display: block;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto;
}

.lightbox_message {
  height: 5rem;
}

.enquire_btn {
  margin-left: 0;
}

.close_btn {
  color: white;
  float: right;
  margin-bottom: 0.5rem;
}

.close_btn:hover {
  cursor: pointer;
}
