/*
***********
BOX SIZING
***********
*/

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
***********
TOP-LEVEL
***********
*/

body,
html {
  height: 100%;
  min-height: 100%;
}

body {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

/*
***********
UTILITY CLASSES
***********
*/

.center {
  margin: 0 auto;
  justify-self: center;
}

.hidden {
  display: none;
}

.justify-center {
  justify-content: center !important;
}

.full {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.grow {
  flex-grow: 1;
}

/* 
***********
BORDERS / RULES
***********
*/

.upperline {
  border-top: 1px solid #DADADA;
}

.underline {
  border-bottom: 1px solid #DADADA;
}

/* 
***********
CONTAINERS 
***********
*/

[class^='container-'] {
  margin-bottom: 0.5rem;
}

.container-xs {
  max-width: 20rem;
}

.container-sm {
  max-width: 30rem;
}

.container-med {
  max-width: 40rem;
}

.container-lg {
  max-width: 50rem;
}

.container-xl {
  max-width: 65rem;
}

/* 
***********
FLEXBOX GRIDS
***********
*/

/* General-use for flex grid */

.grid-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile {
  margin-bottom: 1rem;
}

.tile img {
  max-width: 100%;
  display: block;
  margin-bottom: 1rem;
  flex-shrink: 0;
  height: auto;
}

.tile-text-centered {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.tile-label {
  margin-bottom: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* grid-4-to-2 */
/* grid with 4 tile width, responds down to 2 tile width*/

.grid-4-to-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

.grid-4-to-2 .tile {
  display: flex;
  width: calc(25% - 0.75rem);
  flex-direction: column;
  margin-right: 1rem;
}

.grid-4-to-2 .tile:nth-of-type(4n) {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .grid-4-to-2 .tile {
    display: flex;
    width: calc(50% - 0.5rem);
    flex-direction: column;
  }

  .grid-4-to-2 .tile:nth-of-type(4n) {
    margin-right: 1rem;
  }

  .grid-4-to-2 .tile:nth-of-type(2n) {
    margin-right: 0;
  }
}

/* grid-3-to-1 */
/* grid with 3 tile width, responds down to 1 tile width*/

.grid-3-to-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

.grid-3-to-1 .tile {
  display: flex;
  width: calc(33% - 0.66rem);
  flex-direction: column;
  margin-right: 1rem;
}

.grid-3-to-1 .tile:nth-of-type(3n) {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .grid-3-to-1 .tile {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-right: 0;
  }
}

/* grid-2-to-1 */
/* grid with 2 tile width, responds down to 1 tile width*/

.grid-2-to-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

.grid-2-to-1 .tile {
  display: flex;
  width: calc(50% - 0.5rem);
  flex-direction: column;
  margin-right: 1rem;
}

.grid-2-to-1 .tile:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .grid-2-to-1 .tile {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-right: 0;
  }
}

/* grid-2 */
/* grid with 2 tile width*/

.grid-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

.grid-2 .tile {
  display: flex;
  width: calc(50% - 0.5rem);
  flex-direction: column;
  margin-right: 1rem;
}

.grid-2 .tile:nth-of-type(2n) {
  margin-right: 0;
}

/*
***********
BANNER / NAVBAR
***********
*/

.header {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
}

.banner {
  display: flex;
  height: 5rem;
  width: 100%;
  align-items: center;
  justify-items: flex-end;
}

.banner-gap {
  flex-grow: 1;
}

.navbar {
  display: flex;
  align-content: center;
  height: 100%;
}

.navbar-item {
  font-weight: 300;
  height: 100%;
  flex-grow: 1;
  padding: 0.5rem;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
}

.navbar-link {
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
}

.navbar-link:hover {
}

.navbar-item + .navbar-item {
  margin-left: 1.5rem;
}

.banner-title {
}

.menu {
  display: none;
}

.menu-button {
  cursor: pointer;
}

.menu-button:hover {
  color: #91B859;
}

.dropdown {
  position: absolute;
  top: 5rem;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.35s ease;
  background-color: #f7f7f7;
  max-height: 0;
}

.dropdown-item {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 100%;
  display: block;
  text-align: center;
}

.dropdown-link {
  width: 100%;
  display: block;
  text-align: center;
}

.dropdown-item:hover {
  background-color: #C3E88D;
}

@media screen and (max-width: 720px) {
  .menu {
    display: flex;
  }
  .header {
  }
  .navbar {
    display: none;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}

.js-hidden {
  display: none;
}

/* 
***********
FOOTER
***********
*/

.footer {
  margin-top: 1.5rem;
  height: 1.7rem;
  display: flex;
  align-items: center;
}

/* 
***********
LIGHTBOX 
***********
*/

.lightbox {
  visibility: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.85);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  z-index: 999;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lightbox-display-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 15px;
  padding-right: 15px;
}

.lightbox-display {
  max-width: 100% !important;
  height: auto;
  display: block;
}

.lightbox-close {
  color: #ffffff;
  align-self: flex-end;
  margin-bottom: 0.25rem;
}

.lightbox-close:hover {
  cursor: pointer;
}

/* 
***********
BUTTONS
***********
*/

.button {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 10px;
  text-align: center;
   justify-content: center;
  background-color: #DADADA;
  align-items: center;
  border-radius: 5px;
  transition: all 0.2s;
  border: 0;
}

.button:hover {
  background-color: #C0C0C0;
  cursor: pointer;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.1)
  );
}

.button-disabled {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
  color: #999999;
  border-radius: 5px;
  transition: all 0.2s;
  border: 0;
}

.button i, .button-disabled i {
  margin-right: 10px;
}


/* 
***********
SPECIFIC USE
***********
*/

.content {
  height: 100%;
}

/* GALLERY SUBGRID */
.gallery {
  display: flex;
  max-height: 100%;
  flex-wrap: wrap;
  align-items: stretch;
}
.gallery_item {
  width: calc(25% - 0.75rem);
  display: flex;
  max-height: 100%;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.gallery_item:nth-of-type(4n) {
  margin-right: 0;
}

.gallery_item:hover {
  cursor: pointer;
}
.gallery_item_figure {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  max-height: 100%;
  align-self: center;
}
.gallery_item:hover .gallery_item_figure {
  box-shadow: 0px 2px 4px 0px hsla(0, 0%, 0%, 0.2);
}
.gallery_item_caption {
  margin-top: 0.5rem;
  justify-self: center;
  text-align: center;
}
@media screen and (max-width: 720px) {
  .gallery_item {
    width: calc(33% - 0.666rem);
  }
  .gallery_item:nth-of-type(4n) {
    margin-right: 1rem;
  }
  .gallery_item:nth-of-type(3n) {
    margin-right: 0;
  }
}
/* DETAIL SUBGRID */
.detail {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.detail_item {
}
.detail_caption {
  margin-right: 3rem;
}
.detail_item {
  width: 100%;
  transition: all 0.35s;
}
.detail_additional {
  margin-top: 1.5rem;
  max-height: 7em;
  max-width: 100%;
}
.detail_additional_figure {
  padding-right: 1rem;
  max-height: 100%;
  max-width: 5rem;
}

.detail_caption_title {
  padding-bottom: 1rem;
}

@media screen and (max-width: 720px) {
  .detail {
    flex-direction: column;
  }

  .detail_caption {
    margin-right: 0;
  }
}
/* SPLASH SUBGRID */
.splash {
  display: grid;
}
.splash_img {
  width: 100%;
}
/* CONTACT SUBGRID */
.contact_form {
  width: 20rem;
  margin: 0 auto;
}
.contact_form_input {
  border: none;
  border: 1px solid #e3e4e4;
  display: block;
  margin-bottom: 1rem;
  width: 20rem;
  padding: 10px;
}
.contact_social_line {
}
.contact_social_line_text {
  display: inline-block;
  line-height: 1.5rem;
  vertical-align: top;
  padding-left: 0.5rem;
}
.contact_social_line:hover {
}
.contact_social_icon {
  height: 1.5rem;
  line-height: 1.5rem;
  vertical-align: middle;
}
.input_message {
  height: 25rem;
}
.input_submit {
  display: block;
  margin: 0 auto;
  width: 100px;
  padding: 0;
  text-align: center;
  line-height: 30px;
  background-color: whitesmoke;
  border-radius: 5px;
  transition: all 0.2s;
  border: 0;
}
.input_submit:hover {
  background-color: #C0C0C0;
  cursor: pointer;
}

/* LIGHTBOX */
/*
.lightbox {
  visibility: hidden;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.85);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  z-index: 999;
}
*/

.lightbox_form {
  display: block;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto;
}

.lightbox_message {
  height: 5rem;
}

.enquire_btn {
  margin-left: 0;
}

.close_btn {
  color: white;
  float: right;
  margin-bottom: 0.5rem;
}

.close_btn:hover {
  cursor: pointer;
}
